
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  image-rendering: pixelated;
  font-smooth: never;
  -webkit-font-smoothing : none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  margin: 0;
}

@font-face {
  font-family: 'Hellovetica';
  src: url('../fonts/hellovetica.ttf') format('truetype');
}

/* get font to load for use in phaser */
#fontPreload {
  position: absolute;
  left: -100vw;
}